version: '3'
services:
  db:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: rails_app
      MYSQL_PASSWORD: rails_app

  dbproxy:
    image: mysqlboy/docker-proxysql
    volumes:
      - ./proxysql/proxysql.cnf:/etc/proxysql.cnf:ro
    ports:
      - "6033:6033"
      - "6032:6032"
